<form method="post" action="cafes">
    <label>Marca</label><br>
    <input type="text" name="marca"><br>
    <label>Peso</label><br>
    <input type="number" name="peso"><br>
    <label>Preço</label><br>
    <input type="number" name="preco"><br>
    <input type="submit" value="Enviar">

</form>